.page-header {
  // z-index: 2;
  padding-top: 30px;
  background-color: inherit;
}

.page-header__link {
  @include bebas;
  font-size: 26px;
  line-height: 26px;
  letter-spacing: 0.02em;
}

@media (max-width: $tablet-width) {
  .page-header {
    padding-top: 40px;
  }

  .page-header__link {
    font-size: 24px;
    line-height: 24px;
  }
}

@media (max-width: $mobile-width) {
  .page-header {
    padding-top: 19px;
  }

  .page-header__link {
    font-size: 20px;
    line-height: 20px;
  }
}
