.main-block {
  position: relative;
  background: $gradient;

  margin-top: -56px;
  padding-bottom: 91px;
  padding-top: 56px;
  z-index: -1;

  @include bebas;

  &::before {
    content: "";
    position: absolute;
    top: 51px;
    left: 563px;
    width: 500px;
    height: 556px;
    background: url("../img/image-header@1x.jpg") no-repeat 0 0;
    background-size: cover;
  }
}

.main-block__wrapper {
  @include flex;
  position: relative;
  // width: 32.5%;
  width: 34.5%;
  padding-top: 110px;
}

.main-block__city {
  @include bebas;
  // @include roboto-cond;
  // font-weight: 300;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;

  margin-left: auto;
  padding-right: 5px;
  padding-top: 7px;
}

.main-block__title-wrapper {
  display: flex;
  // margin-left: -100px;
  justify-content: space-between;
  margin-left: auto;
  min-width: 375px;
  position: relative;
}

.main-block__title {
  @include reset;
  font-size: 112px;
  line-height: 109px;
  font-weight: 700;
  text-align: right;
  letter-spacing: 0.017em;

  padding-top: 12px;
  padding-right: 5px;
}

.main-block__list {
  @include resetList;
  @include roboto-cond;
  font-size: 14px;
  line-height: 150%;
  font-weight: 300;
  text-transform: none;
  text-align: right;

  position: absolute;
  top: 133px;
  left: 15px;
}

// .main-block__item {
//   padding-top: 10px;
// }

.main-block__button {
  color: $white-text;

  padding: 21px 57px;
  margin-top: 48px;
  margin-left: auto;
}

.main-block__social-list {
  @include resetList;
  @include flex;

  flex-direction: column;
  margin-top: auto;
}

.main-block__social-link {
  @include roboto-cond;
  color: $white-text;

  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
}

.main-block__social-item {
  padding-top: 18px;
}

@media (max-width: $tablet-width) {
  .main-block {
    margin-top: -64px;
    padding-top: 64px;
    padding-bottom: 106px;

    &::before {
      width: 324px;
      height: 390px;
      top: 82px;
      left: 51.953%;
      background-image: url("../img/image-header-tablet@1x.jpg");
    }
  }

  .main-block__wrapper {
    width: 48.5%;
    padding-top: 65px;
  }

  .main-block__title-wrapper {
    min-width: 325px;
  }

  .main-block__city {
    font-size: 34px;
    line-height: 34px;
  }

  .main-block__title {
    font-size: 88px;
    line-height: 86px;
    padding: 10px 6px 0 0;
  }

  .main-block__list {
    top: 98px;
    left: -3px;
  }

  .main-block__button {
    padding: 18px 32px;
    margin-top: 39px;
  }

  .main-block__social-list {
    display: none;
  }
}

@media (max-width: $mobile-width) {
  .main-block {
    padding-bottom: 81px;

    &::before {
      display: none;
    }
  }

  .main-block__wrapper {
    width: 100%;
    padding-top: 69px;
  }

  .main-block__city {
    font-size: 28px;
    line-height: 28px;
    padding-right: 0;
  }

  .main-block__title-wrapper {
    min-width: 295px;
  }

  .main-block__title {
    font-size: 80px;
    line-height: 80px;
  }

  .main-block__list {
    font-size: 14px;
    line-height: 150%;
    top: 90px;
    left: -5px;
  }

  .main-block__button {
    width: 100%;
    margin: 0;
    margin-top: 40px;
  }
}
