*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  min-width: $desktop-width-only;
  overflow-x: hidden;

  @include reset;
}

a {
  display: block;
  position: relative;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  @include flex;
  justify-content: space-between;
  min-width: $desktop-width-only;
  padding: 0 7.54%;
}

.button {
  @include roboto-cond;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  display: block;
  text-align: center;
  padding: 0;
  margin: 0;

  border: 4px solid $white-text;
}

@media (max-width: $tablet-width) {
  body {
    min-width: 768px;
  }

  .container {
    min-width: 677px;
    padding: 0 5.8%;
  }

  .button {
    font-size: 12px;
    line-height: 14px;
  }
}

@media (max-width: $mobile-width) {
  body {
    min-width: 320px;
  }

  .container {
    min-width: 100%;
    padding: 0 4.8%;
  }
}
