// Display size
$desktop-width-only: 1200px;
$tablet-width: 1199px;
$mobile-width: 767px;
// Retina
$retina-dppx: 1.5dppx;
// Text color
$white-text: #ffffff;
$blue-text: #102654;
$second-blue-text: #495a7d;
$light-blue-text: #103aae;
// Background color
$white-bg: #ffffff;
$gray-background: #f8f9fc;
$red-background: #ed0233;
$gradient: linear-gradient(45deg, rgba(0, 61, 133, 1) 20%, rgba(184, 0, 39, 1) 52%);
// Another
$hover-color: #d10a42;
