// Display size
$desktop-width-only: 1200px;
$tablet-width: 1199px;
$mobile-width: 767px;
// Retina
$retina-dppx: 1.5dppx;
// Text color
$white-text: #ffffff;
$blue-text: #102654;
// Background color
$gray-background: #f8f9fc;
$red-background: #ed0233;
$gradient: radial-gradient(33.97% 69.22% at 16.03% 39.06%, #003d85 99.48%, #b80027 99.03%);
